
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    position: fixed;
    width: 100%;
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 15%);
    z-index: 3;
}
  
    
   
    

.logo{
    width: 40px;
    padding-right: 10px;
}
.navigation h2{
    color: rgb(179, 174, 174);
    font-size:25px;
    font-weight: 800;
}
.navigation span{
    color: #00b39b;
    padding-bottom: 5px;
    padding-right: 5px;
    
}
.navigation ul{
    display: inline-flex;
    list-style: none;
    color:rgb(179, 174, 174) ;
}
.navigation ul li{
  
    margin: 15px;
}
.navigation ul li a{
    text-decoration: none;
    color:rgb(179, 174, 174) ;
    font-size: 15px;
    font-weight: 600;
    
}
.navigation ul li :hover {
    color:#00b39b ;
}
#active{
    color: #00b39b;
}
.main{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding-top: 50px;
}
.main h1{
    font-size: 2.125rem;
    color: #00b39b;
    
    font-weight: 300;
    letter-spacing: -.3px;
    padding-left: 200px;
   padding-bottom: 200p;
 
 
}
.logo2{
    padding-left: 600px;
   padding-bottom:100px;
   

  
}
  

.card{
   border: 1px solid white;
width: 400px;

margin: 100px;


}
.card2{
    border: 1px solid white;
    width: 400px;
    margin: 100px;
    
   
}
.col{
    display: flex;

}
.col p{
    color:rgb(99, 96, 96) ;
    
    margin: 0.8em 0;
    line-height: 1.75;
    font-weight: 600;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
    
.boxes{

   display: flex;
    justify-content: space-around;
    flex-direction:row;
    padding: 20px 200px;  
flex-wrap: nowrap;
}


.box1{
    background-color:#00b39b ;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    height: 350px;
   
}
.box1:hover{
    transform: translate(5);
    opacity: 5;
}



.box1 h1{
    font-size: 1.500em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
    padding-top: 10px;
    
}
   
.box1 h2{
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
    padding-top: 10px;
}
.icon{
    color: white;
    font-size: 20px;
}
.style-select{
    cursor: pointer;
   background: transparent;
   border: 0;
margin-top: 100px;
   border-radius: 0;
   color: white;
   font-size: 1.1em;
   font-weight: 500;
   text-decoration: underline;
   
  
}



option{
    font-weight: 700;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    font-size: 15px;
    color: black;
   
}
.box2{
    background: #3d83df;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    height: 350px;
   
}
.box2 h1{
    font-size: 1.500em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
    padding-top: 10px;
    
}
   
.box2 h2{
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
    padding-top: 10px;
}

.box3{
    background: #1b2734;

    padding: 30px;
    border-radius: 10px;
    width: 320px;
    height:350px;
   
}
.box3 h1{
    font-size: 1.500em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
    padding-top: 10px;
}
   
.box3 h2{
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
  color: white;
  padding-top: 10px;
}
.style-select2{
    padding: 10px 10px;
    cursor: pointer;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: underline;
}


    
   

   




    

